

@model IEnumerable<AnnexioTechnicalTest.Models.CountryDetailModel>

@{
    ViewData["Title"] = "CountryDetail";
}

@{ 
    var countryName = Model.Select(x => x.Name).FirstOrDefault().ToString();
}

<h4 >@countryName</h4>


<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Capital)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Population)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Currencies)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Languages)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Borders)
            </th>
            @*<th></th>*@
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Name)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Capital)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Population)
                </td>
                <td>
                    <ul>
                        @foreach (var innerItem in @item.Currencies)
                        {
                            <li>@innerItem.Code</li>
                            <li>@innerItem.Name</li>
                            <li>@innerItem.Symbol</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @foreach (var innerItem in @item.Languages)
                        {
                            <li>@innerItem.Name</li>
                            <li>@innerItem.nativeName</li>
                        }
                    </ul>
                </td>
                <td>
                    <ul>
                        @foreach (var innerItem in @item.Borders)
                        {
                            <li>@Html.ActionLink(@innerItem, "Borders", new { Name = @innerItem })</li>
                        }
                    </ul>
                </td>
            </tr>
        }
    </tbody>
</table>
