@model IEnumerable<AnnexioTechnicalTest.Models.Country>

@{
    ViewData["Title"] = "Index";
}

<h3 class="display-4">Countries Info</h3>


<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subregion)
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            string subregionBloc = "";
            @foreach (var innerItem in item.RegionalBlocs)
            {
                subregionBloc = @innerItem.Acronym;
            }
            <tr>
                <td>@Html.ActionLink(@item.Name, "CountryDetail", new { Name = item.Name }) </td>
                <td>@Html.ActionLink(@item.Region, "RegionDetail", new { Name = item.Region }) </td>
                <td>@Html.ActionLink(@item.Subregion , "SubRegionDetail", new { Name = subregionBloc }) </td>

            </tr>
        }
    </tbody>
</table>


