@model IEnumerable<AnnexioTechnicalTest.Models.RegionModel>

@{
    ViewData["Title"] = "RegionDetail";
}


@{
    var regionName = Model.Select(x => x.Region).FirstOrDefault().ToString();
    var totalPopulation = 0;
}


@foreach (var num in @Model)
{
    if (num.Population > 0)
    {
        totalPopulation += num.Population;
    }
}


<h4>@regionName <small> ( Region )</small></h4>



<table class="table table-bordered table-striped table-sm">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th class="align-right">
                @Html.DisplayNameFor(model => model.Population)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Region)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subregion)
            </th>

        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td class="align-right">
                @Html.DisplayFor(modelItem => item.Population)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Region)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Subregion)
            </td>

        </tr>
        }

        <tr style="background-color:darkgrey">
            <td>Total: </td>
            <td class="align-right"><strong>  @totalPopulation</strong></td>
            <td></td>
            <td></td>
        </tr>
    </tbody>
</table>

