
<div class="individual-country-container">
    <a href="@countryURL">
        <img src="@country.Flag" alt="PosterImage" class="country-poster" />
    </a>
    <p>
        <a href="@countryURL"> <b>@country.NameBrief</b> <span> @country.SubRegion </span></a>
    </p>

    <div>
        <a href="country/edit/@country.Name" class="btn btn-info">Edit</a>
        @*<button type="button" class="btn btn-danger" @onclick="@(() => Deletecountry.InvokeAsync(country))">
            Delete
        </button>*@
    </div>
    <br />
</div>

@code {
    [Parameter] public Country country { get; set; }
    //[Parameter] public EventCallback<Country> Deletecountry { get; set; }
    private string countryURL = "";


    protected override void OnInitialized()
    {
        countryURL = $"country/{country.Name}";
        //countryURL = $"country/{country.Name}/{country.Name.Replace(" ", "-")}";
    }
}
